body {
    font-family: 'Roboto', sans-serif;
    color: #Afb3F7;
    margin: 0;
    background-color: #3c454A;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #171A21;
    color: #Afb3f7;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    text-decoration: underline;
}


#about-preview,
#custom-rugs-preview,
#store-preview {
    padding: 20px;
}
footer {
    background-color: #171A21;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

body a {
    text-decoration: none !important;
    color: inherit !important;

}


body a:hover {
    text-decoration: underline !important;
    color: #F95738;
}
