body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #Afb3F7;
    margin: 0;
    background-color: #3c454A;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #171A21;
    color: #Afb3f7;
    
}
.custom-logo {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 16,
      "SHLN" 65.5;
      font-size: 45px;
}
.custom-logo h1{
font-size: inherit;

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    text-decoration: underline;
}


#about-preview,
#custom-rugs-preview,
#store-preview {
    padding: 20px;
}
footer {
    background-color: #171A21;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

body a {
    text-decoration: none;
    color: inherit;

}


body a:hover {
    text-decoration: underline;
    color: #F95738;
}
 
