
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #Afb3F7;
    margin: 0;
    background-color: #3c454A;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #171A21;
    color: #Afb3f7;
}

.custom-logo {
    font-family: "Honk", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}



.open-nav-btn {
    font-size: 18px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
}

.open-nav-btn:hover {
    background-color: #555;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    text-decoration: underline;
}


.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    background-color: #555;
}

.close-nav-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    color: #fff;
}

section {
    padding: 20px;
}

footer {
    background-color: #171A21;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: #F95738;
}
